{% include "header.j2" %}
#
# For full setup guide, visit:
# https://fastapi-users.github.io/fastapi-users/
#
# TODO: Implement FastAPI-Users setup
# This requires database models, user manager, and auth backends
# See the official documentation for complete setup
